
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {.image-wrapper {@include for-media-query}}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.image-wrapper{@include for-media-query}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {.image-wrapper{@include for-media-query}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.image-wrapper{@include for-media-query}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {.image-wrapper{@include for-media-query}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {.image-wrapper{@include for-media-query}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {.image-wrapper{@include for-media-query}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {.image-wrapper{@include for-media-query}}  
@media screen and (min-device-width: 380px) and (max-device-width: 800px) {
    
    body {
        overflow-x:hidden;
    }
    .app {
        width:100vw;
        height:100%;
    }

// // //home
    .hellCreekLogo img {
        width: 100%;
        text-align: center;
        margin:auto;
        order: 1;
        position: relative;
    }
    .link-container{
        flex-direction: column;
        text-align: center;
        padding-top: 125px;
        position: absolute;
        order:2;
    }
    a {
        font-size:35px;
    }
    .store-image-wrapper{
        text-align:center;
        width:100vw;
        padding-left:400px;
    }
 
    .location-wrapper {
        flex-direction: column;
        align-items: center;
        text-align:center;
        padding-top:180px;
        width:100vw;
    }
    .home-footer{
        display:flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-size:25px;
    }
    .copyright-wrapper {
        padding-left:200px;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        width:100vw;
        
    }
//artist
    .artist-name {
        padding-top: 150px;
        font-size:40px;
        padding-bottom:50px;
    }
    
    img.carousel{
        width:100vw;
        padding-right:40px;
       
        
    }
    .carousel-container {
        display:flex;
        flex-wrap:wrap;
        flex-direction: column-reverse;
        
    }

    .carousel-img-wrapper {
        padding-left: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    // //merch
    .merch-title-wrapper {
        font-size: calc(0.35em + 1vmin);
        padding-top:150px;
        padding-bottom:0;
        text-align:center;
    }
    .vendor-image-url-links{
        grid-template-columns: repeat(1, auto);
    }
    .rent-me {
        font-size: calc(1.35em - 1vmin);
        
    }

    .item-name {
        padding-top: 50px;
        color: yellow;
    }
    a.vir-wrapper {
        display:inline-flex;
        flex-direction:row;
        padding-right:70px;
        
    }
    img.vir-instrument-logo1{
        width:30%;
        height:70%;
        flex-basis:0px;
        flex-shrink:1;
    }
    img.vir-instrument-logo2 {
        width:100%;
        height:70%;
        flex-basis:0px;
        flex-shrink:1;
    }
 
// //and-more
    .comic-header h1 {
        padding-top: 100px;
    }
    img.comic-pano-img {
        width:135vw;
        height: 100%;
        text-align:center;
    }
    .content {
        display:flex;
        flex-direction: column;
        text-align: center;

    }
    h1.steves-comic-pick {
        display:flex;
        flex-wrap:wrap;
        padding-top:30px;
        padding-left:63px;
        text-align:center;
        width: 100vw;
    }
    .book-title-author {
      width:100vw;
      padding-left:63px;
      
    }
    .links {
        display:none !important;

    }
    form {
        display:none !important;
    }
    .add-a-book {
        display: none !important;
    }
// //contact
     img.trex {
         transform: scale(0.5, 0.4);
     }
     .contact-cover-wrapper{
         grid-template-columns: repeat(1, auto);
         padding-right: 290px;
         align-items:start;
         
     } 
     .left-contact-wrapper {
        display:flex;
        justify-items: center;
        padding-top:0px;
        margin-top: -150px;
        margin-bottom: -230px;
        margin-left: -30px;
        
     }
    .right-contact-column-wrapper {
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items:center;
        margin-right:-170px;
     
    }
    a.email-name {
        font-size: 15px;
    }
    
.phone-wrapper, .contact-map-wrapper, .email-wrapper {
    padding-bottom: 15px;
}

}           
       